<div class="main-login display-flex-column">
 
    <div class="content-login">
        <div>
            <img src="../../assets/images/logo.png" alt="Utopia logo"/>
        </div>

        <div>
            <div class="login-line">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <form action="" method="" id="login-form">
                <h1>Welcome back</h1>
                <p>Sign in to your account</p>

                <div>
                    <img src="../../assets/images/user.svg"/>
                    <input type="text" name="email" placeholder="Username or email"/>
                </div>
                <div>
                    <img src="../../assets/images/lock.svg"/>
                    <input type="password" name="password" placeholder="Password"/>
                </div>

                <button type="submit">Login</button>
            </form>

        </div>
    </div>

 
    <footer class="login-footer">
        <div class="login-logo">
            <img src="../../assets/images/logo-product.svg" alt="Logo product"/>
        </div>
    </footer>
</div>
