<div class="main-login display-flex-column">
  <div class="content-login">
    <div class="login-top">
      <img src="../../assets/images/logo.png" alt="Utopia logo" />
    </div>

    <div class="login-bottom">
      <div class="login-line">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <form
        [formGroup]="loginForm"
        id="login-form"
        (ngSubmit)="loginSumbited()"
      >
        <h1>Welcome back</h1>
        <p>Sign in to your account</p>

        <div class="login-email">
          <img src="../../assets/images/user.svg" />
          <input
            formControlName="email"
            type="text"
            name="email"
            placeholder="Username or email"
          />
        </div>
        <span class="error-text" *ngIf="Email.errors?.['email']"
          >Email is not in good format</span
        >

        <div class="login-password">
          <img src="../../assets/images/lock.svg" />
          <input
            formControlName="password"
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <span class="error-text" *ngIf="Password.errors?.['minlength']"
          >The password must contain at least 8 characters</span
        >
        <span class="error-text">{{ message }}</span>

        <button type="submit" class="login-button">Login</button>
      </form>
    </div>
  </div>

  <footer class="login-footer">
    <div class="login-logo">
      <img src="../../assets/images/logo-product.svg" alt="Logo product" />
    </div>
  </footer>
</div>
