<div class="main-login display-flex-column">
 
    <div class="content-login">
        <div class="login-top">
            <img src="../../assets/images/logo.png" alt="Utopia logo"/>
        </div>

        <div class="login-bottom">
            <div class="login-line">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <form action="" method="POST" id="login-form">
                <h1>Welcome back</h1>
                <p>Sign in to your account</p>

                <div class="login-email">
                    <img src="../../assets/images/user.svg"/>
                    <input type="text" name="email" placeholder="Username or email"/>
                </div>
                <div class="login-password">
                    <img src="../../assets/images/lock.svg"/>
                    <input type="password" name="password" placeholder="Password"/>
                </div>

                <button type="submit" class="login-button">Login</button>
            </form>

        </div>
    </div>

 
    <footer class="login-footer">
        <div class="login-logo">
            <img src="../../assets/images/logo-product.svg" alt="Logo product"/>
        </div>
    </footer>
</div>
